<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <section>
        {{#if user}}
            <h1>Bienvenido, {{user.name}}!</h1>
        {{/if}}
        <h2>Lista de Productos</h2>
        <ol>
            {{#each products}}
                <li>{{this.title}}</li>
                <br>
                <ul>
                    <li>{{this.category}}</li>
                    <li>Precio: ${{this.price}}</li>
                </ul>
                <br>
            {{/each}}
        </ol>
        <div>
            {{#if hasPrevPage}}
                <a href={{prevLink}}>Anterior</a>
            {{/if}} &nbsp; {{page}} &nbsp;
            {{#if hasNextPage}}
                <a href={{nextLink}}>Siguiente</a>
            {{/if}}
        </div>
        <br>
        <a href="/profile">Perfil</a>
        <br>
        <form action="/logout" method="post">
            <button type="submit">Cerrar sesión</button>
        </form>
    </section>


    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>