<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>

<body>
    <section>
        <h1>Ingreso productos</h1>
        <form action="/products" method="post" id="newProduct" target="_self">
            <label for="title">Producto</label>
            <input type="text" name="title">
            <label for="category">Categoría</label>
            <input type="text" name="category">
            <label for="price">Precio</label>
            <input type="number" name="price">
            <label for="stock">Stock</label>
            <input type="number" name="stock">
            <button type="submit">Agregar Producto</button>
        </form>
        <h1>Lista de Productos en Tiempo Real</h1>
        <ol id="productList">
            {{#each products}}
                <br>
                <li>{{this.title}}</li>
                <br>
                <ul>
                    <li>{{this.category}}</li>
                    <li>Precio: ${{this.price}}</li>
                </ul>
                <br>
                <form action="/payment" method="POST">
                    <input type="hidden" name="title" value="{{this.title}}">
                    <input type="hidden" name="price" value="{{this.price}}">
                    <button type="submit">Finalizar Compra</button>
                </form>
                <br>
            {{/each}}
        </ol>
        <div>
            {{#if hasPrevPage}}
                <a href={{prevLink}}>Anterior</a>
            {{/if}} &nbsp; {{page}} &nbsp;
            {{#if hasNextPage}}
                <a href={{nextLink}}>Siguiente</a>
            {{/if}}
        </div>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realTimeProducts.js"></script>
</body>

</html>
